/bootstrap/compiled.php
.env.*.php
.env.php
.env
.env.backup
.phpunit.result.cache
.idea
_ide_helper*
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/*
!/public/*.*

public/mix-manifest.json

.phpstorm.meta.php
