
// Using Tailwind color palette create additional styles
@each $tw_color_pallet, $tw_color_pallet_values in ($tw_colors) {
  @each $tw_color_pallet_number,
  $tw_color_pallet_hex in ($tw_color_pallet_values)
  {
    .tw-border-#{$tw_color_pallet}-#{$tw_color_pallet_number} {
      border-color: $tw_color_pallet_hex !important;
    }
  }
}

//http://www.bootstrapcustomizer.com/bootstrap/5.0.0-Alpha-3/

$form-floating-height           : add(3.5rem, $input-height-border);
$form-floating-padding-x        : $input-padding-x;
$form-floating-padding-y        : 1rem;
$form-floating-input-padding-t  : 1.625rem;
$form-floating-input-padding-b  : .625rem;
$form-floating-label-opacity    : .65;
$form-floating-label-transform  : scale(.85) translateY(-.5rem) translateX(.15rem);
$form-floating-transition       : opacity .1s ease-in-out, transform .1s ease-in-out;


@import 'floating-labels';
